<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        body{
            background-image: url('/static/red-bg2.jpg');
        }
    </style>


  </head>
  <body>
    <div class="container mt-5">
        <h1 class="mb-4">Contact Me</h1>

        <div class="contact-info mb-5 p-3">

            <p><i class="bi bi-envelope-fill"></i> Email: <a href="mailto:sreeja.reddy0524@gmail.com">sreeja.reddy0524@gmail.com</a></p>
    
            <p><i class="bi bi-telephone-fill"></i> Contact Number: <a href="tel:+919381224396">9381224396</a> </p>

            <p><i class="bi bi-geo-fill"></i> Location: Hyderabad, Telangana ,India</p>

            <p><i class="bi bi-linkedin" ></i> Linkedn: <a href="http://linkedin.com/in/sreeja-reddy-revoori-1b15412a5"  target="_blank" class="btn btn-primary btn-sm">LinkedIn</a></p>

            <p><i class="bi bi-github"></i> Github: <a href="https://github.com/sreejareddy-24" target="_blank" class="btn btn-dark btn-sm">github</a></p>

        </div>
    
        <div class="contact-form" >
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Your Email" required>
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="msg" rows="4" placeholder="Your Message"></textarea>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>    
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>