<<<<<<< HEAD
body{
    background-image: url(red-bg2.jpg);
    color: whitesmoke;
=======
body{
    background-image: url(red-bg2.jpg);
    color: whitesmoke;
>>>>>>> 231076d4658195f666714c695d5b79fb0f2b9504
}