<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" />

  </head>
  <body>
    <nav class="navbar navbar-expand-lg " data-bs-theme="light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('resume')}}">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('projects')}}">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
            </li>
          </ul>

          <button type="button" class="btn btn-danger">Revoori Sreeja Reddy</button>  
         </div>
      </div>
    </nav>

<section class="container my-5">
  <div class="row align-items-center">
     <div class="col-md-5 text-center">
      <img src=../static/profile-card.jpg alt="Profile" class="img-fluid rounded shadow-lg">
    </div>
  
    <div class="col-md-6 text-white text-center">
  <h1 class="mb-3">Hi, I'm <span style="color:#ff5757;">Revoori Sreeja Reddy</span></h1>
  <p class="lead mb-4">Full-Stack Developer | AI Enthusiast | Problem Solver</p>

  <p class="text-start">
    I’m passionate about building clean, responsive web apps using Python, JavaScript, and modern frameworks.  
    I love solving problems and creating great user experiences.
  </p>
  <ul class="text-start">
    <li>💻 Built <strong>MyStudyLife</strong> – a smart student scheduling app</li>
    <li>📚 Learning <strong>Data Structures & Algorithms</strong> in Python</li>
    <li>🚀 Skilled in <strong>HTML, CSS, JavaScript Python</strong></li>
  </ul>
  <div class="d-flex">
  <a href="projects" class="btn btn-danger">See My Work</a>
  <a href="contact" class="btn btn-outline-light">Get in Touch</a>
</div>

</div>
  </div>
</section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
